* {
    box-sizing: border-box;
}

body {
    margin: 15px 50px;
    padding: 0px 50px;
    background-color: black;
    border: 10px solid #EDEADE;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    margin: 50px 100px;
    padding: 50px 50px;
    font-family: monospace;
    font-size: xx-large;
    background-color: #EDEADE;
    border: 10px solid black;
    box-shadow: 30px 30px 2px #FFE5B4;


}

.main-container h1 {
    color: black;
    text-shadow: -3px 3px #FFE5B4, 0 1px #FFE5B4, 1px 0 #FFE5B4, 0 -1px #FFE5B4;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.flex-item {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}