* {
    box-sizing: border-box;
}

body {
    margin: 10px 20px 0px 20px;
    padding: 00px 50px;
    background-color: black;
    border: 10px solid rgb(198, 195, 195);
    font-family: monospace;
    font-size: xx-large;
}



.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 100px;
    padding: 25px 25px;
    background-color: #EDEADE;
    border: 10px solid black;
    box-shadow: 20px 20px 2px #e8ca93;
}

.main-container h1 {
    color: black;
    text-shadow: -3px 3px #FFE5B4, 0 1px #FFE5B4, 1px 0 #FFE5B4, 0 -1px #FFE5B4;
    margin-bottom: 0px;
    margin-top: 0px;
}


.main-container hr {

    margin-bottom: 25px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    background-color: #FFE5B4;
    margin: 5px;
    color: black;
    width: 50px;
    height: 50px;
    text-transform: uppercase;
}

.correct {
    background-color: green;

}

.close {
    background-color: yellow;
}

.wrong {
    background-color: gray;
}

.invalid {
    animation: flash 1s;
}

@keyframes flash {
    0% {
        background-color: #EDEADE;

    }

    50% {
        background-color: red;
    }

    100% {
        background-color: #EDEADE;
    }
}


.winner {
    animation: rainbow 3s infinite;
}

@keyframes rainbow {
    0% {
        color: darkred;
    }

    20% {
        color: darkgreen;
        font-size: 60px;
    }

    40% {
        color: aquamarine;
        font-size: 50px;
    }

    60% {
        color: blueviolet;
        font-size: 60px;


    }

    80% {
        color: magenta;
        font-size: 50px;

    }

    100% {
        color: darkred;
        font-size: 60px;


    }
}

.loading {
    animation: spinning 1s infinite linear;
    margin-bottom: 1em;
    color:brown;
    font-size: large;
}

@keyframes spinning {
    to {
        transform: rotate(360deg);
    }
}