/* box-sixing: it defines how width and height of the element should be calculated. should padding and border be included in calculating width and height or not..?
/* padding and border are included in the width and height*/

* {
    box-sizing: border-box;
}

body {
    /* padding: 0; */
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}


.main-nav-bar {

    background-color: #43281c;
    color: #fbf2c0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
}

.logo {
    position: relative;
    top: 3px;
    height: 25px;
}

.main-page {
    display: grid;
    row-gap: 5px;
    column-gap: 30px;
    width: 100%;
    padding: 30px;
    margin: 0 auto;


    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "orders names"
        "orders payments"
        "totals totals";
}

.order {
    grid-area: orders;
    border-radius: 1em;
}

.name {
    grid-area: names;
    border-radius: 1em;
    margin-right: 15px;
}

.payment {
    grid-area: payments;
    border-radius: 1em;
    margin-right: 15px;
}

.total {
    grid-area: totals;
    padding: 10px;
    margin: 20px 0 0px 10px;

}

.section-title {
    color: #885a2d;
    font-weight: normal;
    font-size: 16px;
}

.box {
    background-color: rgb(238, 225, 213);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
  
    box-shadow: 5px 5px 5px rgba(151, 56, 8, 0.2);
}

.items {
    list-style: none;
    margin: 0;
    padding: 0;
}



.item {
    border-bottom: 2px solid #DDB892;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
        "quantity title price"
        ". options .";
    row-gap: 8px;
}

.item:last-child {
    border-bottom: none;
}

.item-quantity {
    grid-area: quantity;
}

.item-title {
    grid-area: title;
    font-weight: bold;
}

.item-price {
    grid-area: price;
    font-weight: bold;

}

.item-options-list {
    grid-area: options;
    list-style: none;
    padding: 0;
    color: #885a2d;
    font-weight: lighter;
    font-size: 15px;
}

.input-group {
    position: relative;
    display: inline-block;
}

.input-name {
    border-color: #885a2d;
    border-radius: 15px;
    padding: 8px;
    background-color: #eee1d5;
    width: 100%;
}

.input-label {
    background-color: #eee1d5;
    color: #885a2d;
    font-size: 11px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
}

.input-card {
    border-color: #885a2d;
    border-radius: 15px;
    padding: 8px;
    background-color: #eee1d5;
    width: 100%;
    margin-bottom: 15px;
}

.input-cvv {
    border-color: #885a2d;
    border-radius: 15px;
    padding: 8px;
    background-color: #eee1d5;
    width: 100%;
}

.values {
    justify-content: center;
    align-items: center;
    display: grid;
    row-gap: 5px;
    column-gap: 30px;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". price-sub . price-tot .";

}

.sub-price {
    grid-area: price-sub;
}

.tot-price {
    grid-area: price-tot;

}

.price-design {
    font-weight: bolder;
}

.place-order {
    margin: -20px 30px -10px 30px;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: medium;
    background-color: #DDB892;
    color: black;
}