/* <!-- Designing the checkout page for a coffee app. --> */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}

.main-nav {
    background-color: #43281c;
    color: #fbf2c0;
    font-size: 16px;
    display: flex;
    align-items: center; 
    /* align-items works for vertical justification */
    justify-content: center;
    /* justify-content works for horizontal justification */
    font-weight: normal;
}

.logo {
    height: 25px;
    position: relative;
    top: 3px;
}