/* box-sixing: it defines how width and height of the element should be calculated. should padding and border be included in calculating width and height or not..?
/* padding and border are included in the width and height*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}


.main-nav-bar {

    background-color: #43281c;
    color: #fbf2c0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
}

.logo {
    position: relative;
    top: 3px;
    height: 25px;
}

.page {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
    padding: 30px;
    margin: 0 auto;


    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "orders names"
        "orders payments"
        "totals totals";
}

.order {
    grid-area: orders;
}

.name {
    grid-area: names;
}

.payment {
    grid-area: payments
}

.total {
    grid-area: totals
}