* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.container {
    width: 500px;
    height: 500px;
    margin: auto;
    padding:0;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "heading heading heading heading"
        "c c arrow divide"
        "seven eight nine multiplied"
        "four five six subtracted"
        "one two three added"
        "zeroth zeroth zeroth equaled";
    justify-content: center;
}

.row {
    justify-content: space-between;
}

.button {
    width: 70px;
    height: 70px;
    margin: 5px 5px;
}

.heading{
    grid-area:heading;
}
.C {
    grid-area: c;
}

.arrow {
    grid-area: arrow;
}

.divide {
    grid-area: divide;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.multiply {
    grid-area: multiplied;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.subtraction {
    grid-area: subtracted;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;

}

.addition {
    grid-area: added;
}

.zero {
    grid-area: zeroth;
}

.equals {
    grid-area: equaled;
}